<div class="d-flex flex-column flex-shrink-0 p-3 sidebar min-vh-100" >
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Nexura Technologies</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">

      <li>
        <a href="#" class="nav-link text-white">
          <i class="fas fa-home me-2"></i> Home
        </a>
      </li>

      <li>
          <a href="#accountCollapse" data-bs-toggle="collapse" class="nav-link text-white">
            <i class="fas fa-user me-2"></i> Personas
          </a>
          <div class="collapse" id="accountCollapse">
              <ul class="list-unstyled ps-3">
                  <li><a href="#" class="nav-link text-white">Ver personas</a></li>
                  <li><a href="#" class="nav-link text-white">Registrar persona</a></li>
              </ul>
          </div>
      </li>
  </ul>
  <hr>
</div>
