<form>
  <div class="row g-3">
      <div class="col-md-8">
          <label for="fullName" class="form-label">Nombre completo</label>
          <input type="text" class="form-control" id="fullName" [value]="fullName" disabled>
      </div>

      <div class="col-md-4">
        <label for="numPhone" class="form-label">Número de teléfono</label>
        <input type="tel" class="form-control" id="numPhone" [(ngModel)]="numPhone" name="numPhone" [disabled]="isDisabled">
    </div>


      <div class="col-md-4">
          <label for="dateOfBirth" class="form-label">Fecha de nacimiento</label>
          <input type="text" class="form-control" id="dateOfBirth" [value]="dateOfBirth" disabled>
      </div>

      <div class="col-md-8">
          <label for="address" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="address" name="address" [value]="address" [disabled]="isDisabled">
      </div>

      <div class="col-md-4">
          <label for="documentType" class="form-label">Tipo de documento</label>
          <input type="text" class="form-control" id="documentType" [value]="documentType" disabled>
      </div>

      <div class="col-md-4">
          <label for="documentNumber" class="form-label">Número de documento</label>
          <input type="text" class="form-control" id="documentNumber" [value]="documentNumber" disabled>
      </div>
  </div>

  <app-button (buttonClick)="updateEmployee()" [text]="textButton"></app-button>
</form>
