<form>
  <div class="row g-3">
      <div class="col-md-8">
          <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName" placeholder={{fullName}} disabled>
      </div>

      <div class="col-md-4">
          <label for="numPhone" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="numPhone" placeholder={{phoneNumber}} disabled>
      </div>

      <div class="col-md-4">
          <label for="dateOfBirth" class="form-label">Date of Birth</label>
          <input type="text" class="form-control" id="dateOfBirth" placeholder={{dateOfBirth}} disabled>
      </div>

      <div class="col-md-8">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" placeholder={{address}} disabled>
      </div>

      <div class="col-md-4">
          <label for="documentType" class="form-label">Document Type</label>
          <input type="text" class="form-control" id="documentType" placeholder={{documentType}} disabled>
      </div>

      <div class="col-md-4">
          <label for="documentNumber" class="form-label">Document Number</label>
          <input type="text" class="form-control" id="documentNumber" placeholder={{documentNumber}} disabled>
      </div>
  </div>

  <div class="mt-4">
      <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
